.fieldHolder {
  width: 100%;
  max-width: 500px;
}
.field {
  padding: 15px;
  margin: 5px 0 15px;
  font-size: 1em;
  width: 100%;
  border: 1px solid #8d8d8d;
  border-radius: 5px;
  border-style: double;
  background: white;
  color: grey;
  overflow: hidden;
}
.field:hover {
  cursor: pointer;
}
.field.chosen {
  color: black;
}
.field > input {
  display: none;
  background: transparent;
}

@media screen and (min-width: 600px) {
  .field {
    font-size: 1.2em;
  }
}