.container {
  position: fixed;
  width: 100%;
  height: var(--header-height);
  background: #242424;
  top: 0;
}
.navigation {
  margin: 20px 10%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.logo {
  font-size: 25px;
}
.routes {
  display: flex;
}
.account {
  margin-left: 100px;
}