.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 30px;
  width: auto;
}
.singUpBtn,
.toStartPageBtn {
  margin-top: 20px;
}

@media screen and (min-width: 600px) {
  .form {
    width: 400px;
  }
}