.btn {
  padding: 10px 30px;
  border-radius: 9999px;
  background: #7571ff;
  color: white;
  border: none;
  font-size: 1em;
  min-width: 200px;
  transition: .1s;
}
.btn:hover {
  background: #453fff;
  cursor: pointer;
}
.btn:disabled {
  background: #c2c2c2;
  cursor: not-allowed;
}
/* .btn + .btn {
  margin-left: 10px;
} */