.btn {
  padding: 10px 30px;
  border-radius: 9999px;
  color: white;
  border: none;
  font-size: 1em;
  min-width: 200px;
  transition: .1s;
}
.btn:hover {
  cursor: pointer;
}
.btn:disabled,
.btn:disabled:hover {
  background: #c2c2c2;
  cursor: not-allowed;
}
.positive {
  background: #7571ff;
}
.positive:hover {
  background: #453fff;
}
.negative {
  background: #ff4141;
}
.negative:hover {
  background: #db0000;
}