.template {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.jcCenter {
  justify-content: center;
}
.btn + .btn {
  margin-top: 20px;
}
.btn.signOutBtn {
  background: #ff4141;
}
.btn.signOutBtn:hover {
  background: #db0000;
}